extends layout

block content
  h1 #{data.artist} - #{data.name}
  p #[strong Description: ] #{data.description}

  p #[strong Genre: ]
    each val, index in data.category
      a(href=val.url) #{val.name}
      if index < data.category.length - 1
        |,
  p #[strong Price: ] #{data.price_currency}
  p #[strong Stock Count: ] #{data.stock_count}

  hr
  p
    a(href=data.url+'/delete') Delete Album
