extends layout

block content
  h1= title

  form(method='POST' action='')
    div.form-group
      label(for='name') Name:
      input#name.form-control(type='text', placeholder='Name of Album' name='name' required='true' value=(undefined === album ? '' : album.name) )
    div.form-group
      label(for='artist') Arist:
      input#artist.form-control(type='text', placeholder='Artist' name='artist' required='true' value=(undefined === album ? '' : album.artist))
    div.form-group
      label(for='description') Description:
      input#description.form-control(type='text', placeholder='Description' name='description' required='true' value=(undefined === album ? '' : album.description))
    div.form-group
      label(for='stock') In Stock Amount:
      input#stock.form-control(type='text', placeholder='stock' name='stock' required='true' value=(undefined === album ? '' : album.stock_count))
    div.form-group
      label(for='price') Price:
      input#stock.form-control(type='text', placeholder='price' name='price' required='true' value=(undefined === album ? '' : album.price))
    div.form-group
      label Genre:
      div
        for category in categories
          div(style='display: inline; padding-right:10px;')
            input.checkbox-input(type='checkbox', name='category', id=category._id, value=category._id, checked=(
              album && album.category.some(c => c.name === category.name) ? true : false
            ))
            label(for=category._id) #{category.name}
    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg
